@font-face {
  font-family: "Poppins medium";
  src: url(../../Fonts/Poppins-Medium.ttf);
}

@font-face {
  font-family: "Rubik regular";
  src: url(../../Fonts/Rubik-Regular.ttf);
}

#hist-wrapper {
  background: #ffffff;
  box-shadow: 1px 0px 14px #f2f2f2;
  border-radius: 5px;
  padding: 2rem 2rem 2rem 2rem;
}

#hist-header-text {
  font-family: "Poppins medium";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 36px;
  color: #000000;
  mix-blend-mode: normal;
  opacity: 0.4;
}

.hist-inner-div {
  background: #fafbfd;
  border-radius: 5px;
  margin-bottom: 0.8rem;
}

#hist-inner-div-textholder {
  padding: 2rem;
}

.hist-text-header {
  font-family: "Poppins medium";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #000000;
}

.hist-text-date {
  font-family: Rubik regular;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  mix-blend-mode: normal;
  opacity: 0.4;
}

.hist-text-desc {
  font-family: Rubik regular;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  mix-blend-mode: normal;
  opacity: 0.7;
}
