@font-face {
  font-family: "Poppins bold";
  src: url(../../Fonts/Poppins-Bold.ttf);
}

#dashboard-div {
  margin: 2rem 0rem 1rem 3rem;
  font-family: Poppins bold;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 48px;
  color: #000000;
}

#dashboard-hist-acc {
  width: 95%;
  margin-inline: auto;
  margin-top: 30px;
}
#history-row > *{
  margin-top: 1.5rem;
}

#accounts-sec{
  padding: 0;
  padding-right: 10px;
}
#history-sec{
  padding: 0;
  padding-left: 10px;
}


#dashboard-pin-launch {
  font-style: italic;
  font-weight: 700;
  text-decoration: underline;
  margin-left: 0.5rem;
  cursor: pointer;
}

@media screen and (max-width: 992px) {
#history-row > *{
padding: 0;
}
}
