@font-face {
  font-family: "Poppins medium";
  src: url(../../Fonts/Poppins-Medium.ttf);
}

#top-wrapper {
  margin-top: 3rem;
}

#dashboard-first-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

#dashboard-nav-wrapper {
  display: flex;
  /* justify-content: space-around; */
  gap: 2rem;
  width: 95%;
  flex-wrap: wrap;
}

.dashboard-nav-item {
  background: #ffffff;
  box-shadow: 1px 0px 14px #f2f2f2;
  border-radius: 5px;
  flex: 1;
  min-width: 350px;
  height: 50px;
  padding: 1rem 1rem;
}

#dashboard_nav_item_inner {
  display: flex;
  justify-content: space-between;
}

.nav-item-text {
  font-family: Poppins medium;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  mix-blend-mode: normal;
  opacity: 0.4;
}

.nav-item-number {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  color: #ac7bb6;
}

#dashboard-nav-icon-wrapper {
  /* background: linear-gradient(90deg, #fda3d6 0%, #ab7ab6 97.64%); */
  mix-blend-mode: normal;
  opacity: 0.9;
}

@media screen and (max-width: 768px) {
  #dashboard-nav-wrapper {
    flex-direction: column;
    align-items: center;
    /* display: flex;
     */
    /* justify-content: space-between;
    column-gap: 2rem;
    width: 95%;
    flex-wrap:wrap ; */
  }
  .dashboard-nav-item {
    width: 100%;
    max-width: 600px;
    min-width: fit-content;
  }
}
