@font-face {
  font-family: "Poppins medium";
  src: url(../../Fonts/Poppins-Medium.ttf);
}

@font-face {
  font-family: "Rubik regular";
  src: url(../../Fonts/Rubik-Regular.ttf);
}

#recommendations-wrapper {
  display: flex;
  justify-content: center;
}

#recommendations-second-wrapper {
  background: #ffffff;
  box-shadow: 1px 0px 14px #f2f2f2;
  border-radius: 5px;
  width: 95%;
  height: auto;
}

#reco-inner {
  padding: 2rem 2rem;
}

#reco-header {
  font-family: Poppins medium;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 36px;
  color: #000000;
  mix-blend-mode: normal;
  opacity: 0.4;
}

#reco-header-wrapper {
  width: 30%;
  display: flex;
  justify-content: space-between;
}

.reco-col {
  background: #fafbfd;
  border-radius: 5px;
  padding: 2rem 2rem;
}

.reco-col-inner {
  padding: 1rem 1rem;
}

#dashboard-reco-deals {
  display: flex;
  justify-content: space-between;
}

.reco-col-inner-header {
  font-family: Poppins medium;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #000000;
}

#reco-col-inner-header-plus-icon {
  font-family: Poppins medium;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 27px;
  color: #000000;
  cursor: pointer;
}
.reco-col-inner-sub-text {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  mix-blend-mode: normal;
  opacity: 0.7;
}

.dashboard_reco_accordion_wrapper_show {
  display: flex;
  justify-content: space-between;
}

.dashboard_reco_accordion_wrapper_hide {
  display: none;
}

#dashboard_reco_accordion_inner_wrapper {
  display: flex;
  justify-content: space-around;
}

#dashboard_reco_accordion_inner_div_wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.dashboard_reco_accordion_header {
  font-family: Poppins medium;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
}

#rec-header_and_plus_icon {
  display: flex;
  justify-content: space-between;
}

#icon-wrapper {
  padding-top: 1rem;
  /* width: 60px;
  background: linear-gradient(90.09deg, #fda3d6, #ab7ab6);
  mix-blend-mode: normal;
  opacity: 0.9;
  border-radius: 10px; */
}

#dashboard-reco-accordion-image-sub-container {
  position: relative;
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
}

#dashboard-reco-accordion_profile_image {
  width: 100%;
  height: auto;
}

#dashboard-reco-accordion-text {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #00beff;
}

#dashboard_reco_accordion_inner_wrapper {
  width: 50%;
}
