@font-face {
  font-family: "Poppins medium";
  src: url(../../Fonts/Poppins-Medium.ttf);
}

@font-face {
  font-family: "Poppins bold";
  src: url(../../Fonts/Poppins-Bold.ttf);
}

@font-face {
  font-family: "Rubik regular";
  src: url(../../Fonts/Rubik-Regular.ttf);
}

#recommendations-wrapper {
  display: flex;
  justify-content: center;
}

#recommendations-second-wrapper {
  background: #ffffff;
  box-shadow: 1px 0px 14px #f2f2f2;
  border-radius: 5px;
  width: 95%;
  height: auto;
}

#reco-inner {
  padding: 2rem 2rem;
}

#reco-header {
  font-family: "Poppins medium";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 36px;
  color: #000000;
}

#reco-header-wrapper {
  width: 30%;
  display: flex;
  justify-content: space-between;
}

#card-wrapper{
  padding: 1rem;
}

#dashboard-reco {
  background: #fafbfd;
  padding: 1.5rem;
  border-radius: 5px;
}

/* #dashboard-reco-deals {
  display: flex;
  justify-content: space-between;
} */

#more-details-holder {
  display: flex;
  justify-content: center;
  width: fit-content;
}

#more-details-holder p {
  font-family: "Poppins bold";
}

.reco-col-inner-header {
  font-family: "Poppins medium";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #000000;
}

#reco-col-inner-header-plus-icon {
  font-family: "Poppins medium";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 27px;
  color: #000000;
  cursor: pointer;
}
.reco-col-inner-sub-text {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.dashboard_reco_accordion_wrapper_show {
  display: flex;
  justify-content: space-between;
}

.dashboard_reco_accordion_wrapper_hide {
  display: none;
}

#dashboard_reco_accordion_inner_wrapper {
  display: flex;
  justify-content: space-around;
}

#dashboard_reco_accordion_inner_div_wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.dashboard_reco_accordion_header {
  font-family: "Poppins medium";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
}

#rec-header_and_plus_icon {
  display: flex;
  justify-content: space-between;
}

#icon-wrapper {
  padding-top: .5rem;
  margin-right: 25px;
}

#dashboard-reco-accordion-image-sub-container {
  position: relative;
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
}

#dashboard-reco-accordion_profile_image {
  width: 100%;
  height: auto;
}

#dashboard-reco-accordion-text {
  font-family: "Poppins regular";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #00beff;
}

#dashboard_reco_accordion_inner_wrapper {
  width: 50%;
}

#dashboard-reco-explore-all {
  margin: 3rem auto 1rem auto;
}

@media screen and (max-width: 768px) {
  #reco-inner {
    padding: 2rem 1rem;
  }
  #card-wrapper{
    padding: 1rem 0rem;
  }
  #dashboard-reco {
    padding: 1.5rem;
  }
  #icon-wrapper {
    margin-right: 15px;
  }
}

