#settings_home_wrapper {
  padding: 2rem;
}

#settings_home_header {
  font-family: "Poppins bold";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 48px;
  color: #000000;
}

#settings_home_subcontainer {
  background: #ffffff;
  box-shadow: 1px 0px 14px #f2f2f2;
  border-radius: 5px;
  padding: 2rem;
  margin-top: 1.5rem;
  min-height: 76vh;
}

#settings_home_row {
  display: flex;
  align-items: flex-start;
  max-width: 950px;
  justify-content: space-between;
  /* column-gap: 4.5rem; */
}
#settings_home_row > * {
  /* flex: 1; */
}
#settings_home_row > *  > p{
  /* width: fit-content; */
}

.settings_navbar {
  cursor: pointer;
  font-family: "Poppins bold";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  mix-blend-mode: normal;
  opacity: 0.7;
}

.settings_navbar_active {
  font-family: "Poppins bold";
  font-style: normal;
  font-weight: 900 !important;
  font-size: 16px;
  color: #ab7ab6;
  line-height: 24px;
  mix-blend-mode: normal;
  opacity: 1;
}

.settings_navbar_inactive {
  background: blue;
}

@media screen and (max-width: 768px) {
  #settings_home_wrapper {
    padding: 1.5rem;
  }
  #settings_home_row {
    column-gap: 3rem;
  justify-content: flex-start;


  }
}
@media screen and (max-width: 576px) {
  #action-wrapper {
    overflow-x: auto;
    -ms-overflow-style: none; /* IE 11 */
    scrollbar-width: none; /* Firefox 64 */
  }
  #action-wrapper::-webkit-scrollbar {
    display: none;
  }
  #settings_home_row {
    column-gap: 2rem;

  }
  #settings_home_row > * {
    flex-shrink: 0;
  }

}
