#settings_close_account_wrapper {
  margin-top: 3rem;
}

#settings_close_account_header {
  font-family: Poppins regular;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #000000;
}

#settings_close_account_sub_header {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: #000000;
  mix-blend-mode: normal;
  opacity: 0.4;
}

.settings_close_account_boxes {
  width: 500px;
  background: #ffffff;
  border: 2px solid #e5e5e5;
  border-radius: 5px;
  padding: 30px;
  margin-bottom: 2rem;
}

#settings_close_account_boxes_inner_wrapper {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

#settings_close_account_btn_wrapper {
  background: linear-gradient(90deg, #fda3d6 0%, #ab7ab6 97.64%);
  border-radius: 25px;
  width: 30%;
  height: 50px;
}
