#modal_close_btn {
  text-align: right;
  color: #2d2d2d;
  font-size: 18px;
  font-family: "Poppins bold";
  font-style: normal;
}

#settings_modal_header {
  margin-bottom: 0px;
  font-family: "Poppins bold";
  font-style: normal;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

#settings_modal_subheader {
  margin-top: 1rem;
  font-family: "Poppins regular";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #000000;
  mix-blend-mode: normal;
}

#pin-container {
  margin-top: 10px;
  display: flex;
  width: max-content;
  margin-inline: auto;
  column-gap: 30px;
}
form#settings_modal_form[name="confirmPinForm"] {
  margin-top: 25px;
}
#pin-container > input {
  margin: 0;
  width: 50px;
  flex-shrink: 0;
  background: #f6f6f8;
  text-align: center;
  padding: 0px;
}

#settings_modal_form_container {
  width: 5%;
}
#settings_modal_form_subcontainer {
  border-radius: 5px;
  /* width: 400px; */
  height: 50px;
}

#settings_modal_form {
}

#settings_modal_form > input {
  border: none;
  width: 444px;
  height: 50px;
}
#setting_modal_form_button_wrapper {
  display: flex;
  justify-content: center;
  margin: 3rem;
  cursor: pointer;
}

#settings_modal_form_button {
  display: block;
  margin: 3rem auto;
  background: linear-gradient(90deg, #fda3d6 0%, #ab7ab6 97.64%);
  border-radius: 30px;
  width: 300px;
  padding: 1.5rem;
  color: white;
  font-family: "Poppins bold";
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 1px;
}

#settings_modal_form_error_button {
  background: red;
  border-radius: 30px;
  width: 410px;
  padding: 1rem 2rem;
}
#settings_modal_form_success_button {
  background: green;
  border-radius: 30px;
  width: 410px;
  height: 50px;
  padding: 1rem 2rem;
}

#settings_modal_form_button_text {
  text-align: center;
  font-family: "Poppins bold";
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  color: #ffffff;
}

#settings_modal_forgotten_password {
  cursor: pointer;
  font-family: "Poppins bold";
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 21px;
  color: #ab7ab6;
}

#reset-pin-spinner {
  display: inline-block;
  width: 25px;
  height: 25px;
  border: 3px solid black;
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

#reset-pin-spinner-holder {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

@media screen and (max-width: 576px) {
  #pin-container {
    width: 100%;
    max-width: 200px;
    column-gap: 5px;
    justify-content: space-between;
  }
  #pin-container > input {
    width: 100%;
    max-width: 40px;
  }

  #settings_modal_form_button_text {
    
    font-size: 14px;
  }
  #settings_modal_form_button {
    max-width: 199px;
    width: 100%;
  }
}

/* #reset-pin-spinner-holder > p {
  font-size: 32px;
} */
