#settings_profile_wrapper {
  margin-top: 4rem;
}

#settings_profile_inner_wrapper {
  max-width: 1200px;
  display: flex;
  gap: 4rem;
  /* justify-content: space-between; */
}

#settings-profile-image-container {
  width: 150px;
  aspect-ratio: 1/1;
  margin-inline:auto ;
}

#image-upload-holder {
  cursor: pointer;
  position: absolute;
  width: 50px;
  aspect-ratio: 1/1;
  bottom: 0px;
  right: 0px;
}
#image-upload-holder > label {
  cursor: pointer;
  width: 100%;
  height: 100%;
}
#image-upload-holder > label > img {
  width: 100%;
  height: 100%;
}

#settings-profile-details-container {
  /* width: 70%; */
  /* margin-top: 7rem; */
  flex: 1;
}

#settings-profile-image-sub-container {
  position: relative;
  /* position: absolute;
  width: 400px;
  height: 400px;
  overflow: hidden;
  border-radius: 50%; */
}

#settings_profile_image {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
}

#settings_profile_edit_icon {
  /* position: absolute;
  width: 50px;
  aspect-ratio: 1/1;
  bottom: 0px;
  right: 0px; */
}

#edit-profile-row,
#profile-details-row{
  position: relative;
}


#settings_profile_details_header {
  font-family: "Poppins regular";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  color: #7a7a7a;
  margin-bottom: 0.35rem !important;
}

#settings_profile_details_sub_header {
  font-family: "Poppins regular";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
  color: #000000;
  word-break: break-all;
}

#profile-image-user-details {
  margin: 3rem 0rem 1rem 4rem;
}

.settings-profile-input-container > input,
.settings-profile-input-container > input[type="date"] {
  border: 0;
  outline: 0;
  font-family: "Poppins regular";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
  color: #000000;
  padding: 1rem;
}

/* #profile-image-user-details-name {
  font-family: Poppins bold;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
} */

/* #profile-image-user-details-profession {
  font-family: Poppins regular;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: #000000;
  mix-blend-mode: normal;
  opacity: 0.5;
} */

.form-labels {
  font-family: "Poppins regular";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  mix-blend-mode: normal;
  opacity: 0.6;
}

.settings-profile-input-container {
  border-radius: 4px;
  height: 40px;
  width: 100%;
  margin-top: 1rem;
}

.settings-profile-input-container > input,
.settings-profile-input-container > input[type="date"] {
  border: none;
  background: #f6f6f8;
  width: 100%;
  min-width: 100%;
  height: 40px;
  border-radius: 0;
}

.settings-profile-input-label-container {
  /* margin-top: 2rem; */
  margin-bottom: 3rem;
}

#settings-profile-button {
  position: absolute;
  bottom: -12rem;
  right: 0;
  cursor: pointer;
  background: linear-gradient(90deg, #fda3d6 0%, #ab7ab6 97.64%);
  border-radius: 999px;
  width: 250px;
}

#settings-profile-button > p {
  text-align: center;
  font-family: "Poppins regular";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  padding: 1.5rem 3rem;
}

@media screen and (max-width: 1200px) {
  #settings-profile-button {
    bottom: -4.5rem;
  }
}
@media screen and (max-width: 992px) {
  #settings_profile_inner_wrapper {
    flex-direction: column;
  }
  
  #settings-profile-button {
    position: static;
    max-width: 250px;
    margin-inline: auto;
  }
}

@media screen and (max-width: 576px) {
  #edit-profile-row > *,
#profile-details-row > *{
  padding-inline: 0;
}
.settings-profile-input-label-container{
  margin-bottom: 2rem;
}
  #settings-profile-button {
    width: 100%;
  }
}