#settings_password_security_wrapper {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

#settings_password_security_sub_wrapper {
  text-align: center;
}

#settings_password_security_form_wrapper {
  display: flex;
  justify-content: center;
}

#settings_password_security_header_text {
  font-family: "Poppins medium";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 40px;
  text-align: center;
  color: #000000;
}

#settings_password_security_subheader {
  font-family: "Poppins regular";
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  line-height: 30px;
  color: #000000;
}

.settings_password_security_form_inner_wrapper {
  margin-top: 2rem;
  border-radius: 4px;
  max-width: 500px;
}

.settings_password_security_form_inner_wrapper > form > input[type="password"] {
  background: #f6f6f8;
  width: 100%;
  border: 0;
  margin-bottom: 2rem;
  font-family: "Poppins regular";
}

.settings_password_security_form_inner_wrapper > form > input[type="text"] {
  background: #f6f6f8;
  width: 100%;
  border: 0;
  margin-bottom: 2rem;
  font-family: "Poppins regular";
}

.settings_password_security_form_inner_wrapper > form > input[type="date"] {
  background: #f6f6f8;
  width: 100%;
  border: 0;
  margin-bottom: 2rem;
  font-family: "Poppins regular";
}

/* .settings_password_security_form_inner_wrapper
  > form
  > input[type="date"]::placeholder {
  font-family: Poppins;
  font-size: 23px;
} */

.password-success-notification-holder {
  font-family: "Poppins bold";
  font-size: 18px;
  padding: 1rem 2rem;
  width: 100%;;
  background: green;
  border-radius: 90em;
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  margin-bottom: 2rem;
  color: #ffffff;
  font-weight: 900;
  line-height: 22px;
  mix-blend-mode: normal;
  text-align: center;

}

.password-error-notification-holder {
  font-family: "Poppins bold";
  font-size: 18px;
  padding: 1rem 2rem;
  width: 100%;
  background: red;
  border-radius: 90em;
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  margin-bottom: 2rem;
  color: #ffffff;
  font-weight: 900;
  line-height: 22px;
  mix-blend-mode: normal;
  text-align: center;
}
