@font-face {
  font-family: "Poppins medium";
  src: url(../../Fonts/Poppins-Medium.ttf);
}

@font-face {
  font-family: "Poppins bold";
  src: url(../../Fonts/Poppins-Bold.ttf);
}

#landing-wrapper {
  min-height: 700px !important;
  height: auto;
  background: linear-gradient(90deg, #fda3d6 0%, #ab7ab6 97.64%);
  mix-blend-mode: normal;
  padding-top: 1rem;
}

#hero-welcome-text {
  font-family: "Poppins bold";
  font-style: normal;
  font-weight: 700;
  font-size: 52px;
  line-height: 70px;
  text-transform: capitalize;
  color: #000000;
}

#hero-to-konecktome-text {
  font-family: "Poppins bold";
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 70px;
  color: #000000;
  margin-bottom: 8rem;
}

#hero-life-assistant-text {
  font-family: "Poppins regular";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin: 3rem 0 4rem 0 !important;
}

#hero-form-div {
  display: flex;
  justify-content: space-between;
  column-gap: 1.5rem;
}

#hero-form-div > input {
  /* margin-right: 1.5rem; */
}

form input[type="text"] {
  width: 100%;
}

form input[type="password"] {
  width: 100%;
  margin-top: 0;
  border: 0;
}

#hero-sign-up-btn {
  background: rgba(255, 255, 255, 0.35);
  border-radius: 30px;
  border-radius: 90em;
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  margin-bottom: 1.5rem;
  cursor: pointer;
  width: 100%;
  height: 45px;
}

#hero-sign-up-btn > p {
  font-family: "Poppins bold";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

#hero-sign-up-btn-wrapper {
  background: #000000;
  border-radius: 30px;
  width: 170px;
  height: 60px;
  padding: 1.2rem;
  text-align: center;
}

.hr-lines {
  position: relative;
  max-width: 660px;
  margin: 30px auto;
  text-align: center;
  font-family: Poppins bold;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.hr-lines:before {
  content: "";
  height: 2px;
  width: calc(50% - 110px);
  background: #000000;
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
}

.hr-lines:after {
  content: "";
  height: 2px;
  width: calc(50% - 110px);
  background: #000000;
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  opacity: 1;
}

#hero-sign-up-btn-text {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #ffffff;
}

#hero-login-btn-wrapper {
  background: transparent;
  border-radius: 30px;
  width: 170px;
  height: 60px;
  padding: 1.2rem;
  text-align: center;
  border: 1px solid #000000;
}

#hero-login-btn-text {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #000000;
}

#hero-btn-wrapper {
  margin-top: 3rem;
  width: 70%;
  display: flex;
  justify-content: space-between;
}

.landing-page-icon-holder {
  background: rgba(255, 255, 255, 0.35);
  border: 0 !important;
}

#left-col2 {
  margin-top: 7rem;
}

#right-col2 {
  padding-top: 1rem;
}

#mobile-animation {
  display: none;
}

@keyframes stretch-no-text {
  0% {
    background-color: #fda3d6;
  }
  100% {
    background-color: red;
  }
}
@keyframes stretch-email-exists-text {
  0% {
    background-color: #fda3d6;
  }
  100% {
    background-color: lightgray;
  }
}

@media screen and (max-width: 992px) {
  #right-col2 {
    margin-top: 0;
  }
}
@media screen and (max-width: 768px) {
  #landing-wrapper {
    padding: 3rem 3rem;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #fda3d6 0%, #ab7ab6 97.64%);
  }
  #left-col2 {
    margin-top: 1px;
  }
  #right-col2 {
    display: none;
  }
  #hero-welcome-text {
    font-size: clamp(38px, 6vw, 52px);
    line-height: 125% !important;
  }

  #mobile-animation {
    display: block;
  }
  #coming-soon-text {
    margin-top: 2rem;
    font-size: 26px;
    text-align: center;
  }
  #get-notified-text {
    text-align: center;
    font-size: 26px;
    margin-bottom: 3rem;
    margin-top: 0.2rem;
    line-height: 40px;
  }
  input[type="text"] {
    width: 100%;
    background-color: transparent;
    color: #000000;
    border: 2px solid #000000;
    font-size: 18px;
    margin-bottom: 1.5rem;
  }
  input[type="email"] {
    width: 100%;
    background-color: transparent;
    color: #000000;
    border: 2px solid #000000;
    font-size: 18px;
  }
  #btn {
    width: 100%;
    height: 50px;
  }
  #icons-wrapper {
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 30%;
  }
  #checkbox-wrapper {
    margin-top: 3rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  #checkbox-text {
    margin-top: 0.4rem;
    margin-left: 1rem;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 17px;
    align-items: center;
    letter-spacing: 1px;
    color: #2d2d2d;
  }
}

@media screen and (min-width: 600px) and (max-width: 768px) {
  #landing-wrapper {
    padding: 3rem 3rem;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #fda3d6 0%, #ab7ab6 97.64%);
  }
  #right-col2 {
    display: none;
  }
  #mobile-animation {
    display: block;
  }
  #coming-soon-text {
    font-size: 26px;
  }
  #get-notified-text {
    font-size: 50px;
  }
  .col-md-2 {
    width: 100% !important;
  }
  #firstName {
    margin-bottom: 1rem;
  }
  input[type="text"] {
    width: 100%;
    font-size: 18px;
  }
  input[type="email"] {
    margin-top: 1rem;
    width: 100%;
    font-size: 18px;
  }
  input::placeholder {
    font-size: 18px;
    font-weight: 600;
  }

  #btn {
    margin-top: 2rem;
    font-size: 26px;
    width: 100%;
  }
  #checkbox-wrapper {
    margin-top: 3rem;
    width: 70%;
    display: flex;
    justify-content: space-between;
  }
  #checkbox-text {
    margin-top: 1rem;
    margin-left: 1rem;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 17px;
    align-items: center;
    letter-spacing: 1px;
    color: #2d2d2d;
  }
}

@media screen and (max-width: 600px) {
  #hero-form-div {
    flex-direction: column;
  }
  form input[type="password"] {
    margin-bottom: 2rem;
  }
}
/* Ipad pro*/

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) {
  #landing-wrapper {
    padding: 3rem 3rem;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #fda3d6 0%, #ab7ab6 97.64%);
  }
  .col-lg-5 {
    width: 100% !important;
  }
  #right-col2 {
    display: none;
  }
  #mobile-animation {
    display: block;
  }
  #coming-soon-text {
    font-size: 26px;
  }
  #get-notified-text {
    font-size: 50px;
  }
  .col-md-2 {
    width: 100% !important;
  }
  #firstName {
    margin-bottom: 1rem;
  }
  input[type="text"] {
    width: 100%;
    font-size: 18px;
  }
  input[type="email"] {
    margin-top: 1rem;
    width: 100%;
    font-size: 18px;
  }
  input::placeholder {
    font-size: 18px;
    font-weight: 600;
  }
  #btn {
    margin-top: 2rem;
    font-size: 26px;
    width: 100%;
  }
  #checkbox-wrapper {
    margin-top: 3rem;
    width: 70%;
    display: flex;
    justify-content: space-between;
  }
  #checkbox-text {
    margin-top: 1rem;
    margin-left: 1rem;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 17px;
    align-items: center;
    letter-spacing: 1px;
    color: #2d2d2d;
  }
  /* #landing-wrapper {
    padding-top: 10rem;
    height: 90vh;
    background: linear-gradient(90deg, #fda3d6 0%, #ab7ab6 97.64%);
  }
  #right-col2 {
    display: none;
  }
  #left-col2 {
    padding-top: 15rem;
  }
  #coming-soon-text {
    font-size: 46px;
  }
  #get-notified-text {
    font-size: 60px;
  }
  input[type="text"] {
    font-size: 30px;
  }
  input[type="email"] {
    font-size: 30px;
  }
  input::placeholder {
    font-size: 30px;
    font-weight: 600;
  }
  input[type="text"]:active,
  input[type="text"]:focus {
    font-size: 30px;
  }
  input[type="email"]:active,
  input[type="email"]:focus {
    font-size: 30px;
  }
  #btn {
    font-size: 26px;
  }
  #checkbox-wrapper {
    margin-top: 3rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  #checkbox-text {
    margin-top: 0.5rem;
    margin-left: 1rem;
    font-family: Poppins;
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 17px;
    align-items: center;
    letter-spacing: 1px;
    color: #2d2d2d;
  } */
}
