#hero-navbar-wrapper {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 1rem;
  z-index: 99;
  padding: 1rem 4rem 1rem 4rem;
  background: #ffffff;
}

#logo-img {
  width: 100%;
}

#hero-navbar-demo-button {
  background: #000000;
  border-radius: 30px;
  width: 170px;
  padding: 1.7rem 1rem;
  text-align: center;
}

#hero-navbar-demo-button-text {
  font-family: "Poppins medium";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #ffffff;
}

@media screen and (max-width:768px) {
  #hero-navbar-wrapper {
    padding: 1rem 2rem;
  }
}