@font-face {
  font-family: "Poppins medium";
  src: url(../../Fonts/Poppins-Medium.ttf);
}

@font-face {
  font-family: "Poppins bold";
  src: url(../../Fonts/Poppins-Bold.ttf);
}

@font-face {
  font-family: "Poppins regular";
  src: url(../../Fonts/Poppins-Regular.ttf);
}

#account-wrapper {
  padding: 2rem 2rem 2rem 2rem;
}

#account-first-inner-div {
  display: flex;
  justify-content: space-between;
}

#account-header {
  font-family: Poppins Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 48px;
  color: #000000;
}

#account-first-inner-right-div {
  width: 15%;
  display: flex;
  justify-content: space-between;
}

.cards {
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
}

.card {
  background: #ffffff;
  box-shadow: 1px 0px 14px #f2f2f2;
  border-radius: 5px;
  height: auto;
  padding: 1.5rem;
}

#account-card-inner-first-div {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

#account-inner-header {
  font-family: Poppins medium;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 27px;
  color: #000000;
}

#acc-inner-desc {
  font-family: Poppins regular;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 21px;
  color: #000000;
  mix-blend-mode: normal;
  opacity: 0.4;
}

#account-badge {
  background: linear-gradient(#fda3d6 0%, #ab7ab6 100%);
  width: 88px;
  height: 30px;
  border-radius: 10%;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

#badge-text {
  font-family: Avenir;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #5e3ec5;
}

#card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#account-card-footer {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}

#account-price-text {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  mix-blend-mode: normal;
  opacity: 0.6;
}

#account-price-in-number {
  font-family: Poppins bold;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  color: #ac7bb6;
}
#account-view-details-text {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 36px;
  color: #ac7bb6;
}

@media screen and (max-width: 2000px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
}
