#payment-success-holder {
  display: flex;
  justify-content: center;
  margin-top: 9rem;
}

#payment-success-holder > div {
  background: #ffffff;
  box-shadow: 1px 0px 14px #f2f2f2;
  border-radius: 5px;
  padding: 3rem;
  height: fit-content;
  width: 80%;
}

#payment-success-image-holder {
  display: flex;
  justify-content: center;
}

#payment-success-header {
  font-family: Poppins Bold;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 48px;
  text-align: center;
  color: #008000;
}

#payment-success-tran-details {
  display: flex;
  justify-content: space-around;
  margin: 3rem 0 3rem 0;
}

.payment-success-button {
  margin: 0 auto;
}

#payment-success-image-holder > div {
  width: 50%;
  height: 45px;
  background: linear-gradient(90deg, #fda3d6 0%, #ab7ab6 97.64%);
  opacity: 0.9;
  border-radius: 90em;
  text-align: center;
  padding-top: 1rem;
  margin-bottom: 1.5rem;
  cursor: pointer;
}
#loader-container {
  position: absolute;
  left: 50%;
  top: 50%;
}

.loader {
  transform: perspective(140px) rotateX(-45deg);
  width: 32px;
  height: 72px;
  position: relative;
  border: 2px solid #000000;
  animation: load 1s linear infinite;

  /* -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); */
}
