#details-wrapper {
  padding: 2rem 2rem 2rem 2rem;
}

#details-header {
  font-family: Poppins Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 48px;
  color: #000000;
}

.details-cards {
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
}

.details-card {
  width: 275px;
  height: 256px;
  background: #ffffff;
  box-shadow: 1px 0px 14px #f2f2f2;
  border-radius: 5px;
}

.details-card-inner-div {
  padding-top: 6rem;
}

.details-inner-text {
  text-align: center;
  font-family: Poppins Bold;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 36px;
  color: #000000;
  mix-blend-mode: normal;
  opacity: 0.4;
  margin-top: 2.5rem;
}

.details-image-holder {
  display: flex;
  justify-content: center;
}

.details-card-icon {
  width: 80px;
  height: 80px;
}

@media screen and (max-width: 2000px) {
  .details-cards {
    grid-template-columns: repeat(4, 1fr);
  }
}
