#feedback-wrapper {
  padding-top: 10rem;
  padding-inline: 2rem;
  max-width: 650px;
  margin-inline: auto;
}

#feedback-wrapper > div > p {
  text-align: center;
  margin: 0;
}
#feedback-wrapper form {
  margin-top: 5rem;
}

.survey-input::placeholder {
  font-size: 1.8rem !important;
  color: grey;
}
.survey-input {
  resize: none;
  width: 100% !important;
  font-size: 1.8rem !important;
}
.survey-input:focus {
  outline: none;
}

@media screen and (max-width: 576px) {
  #feedback-wrapper {
    padding-top: 5rem;

    padding-inline: 1.6rem;
  }
}
