@font-face {
  font-family: "Poppins medium";
  src: url(../../Fonts/Poppins-Medium.ttf);
}

@font-face {
  font-family: "Poppins bold";
  src: url(../../Fonts/Poppins-Bold.ttf);
}

@font-face {
  font-family: "Poppins regular";
  src: url(../../Fonts/Poppins-Regular.ttf);
}

#history-wrapper {
  padding: 2rem 2rem 2rem 2rem;
}

#history_form-div {
  background: #ffffff;
  box-shadow: 0px 1px 14px #f2f2f2;
  border-radius: 4px;
  height: 52px;
  width: 30%;
  margin: 2rem 0 3rem 0;
}

.history-search-form {
  border: none !important;
}

.history-search-form input {
  width: 30%;
}

.history-search-form::placeholder {
  font-family: Poppins regular;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  color: #000000;
  mix-blend-mode: normal;
  opacity: 0.5;
}

#history_no_of_items_text {
  font-family: Poppins regular;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  margin-bottom: 2rem;
}
#history-table-wrapper{
  max-width: 950px;
  width: calc(100vw - 290px);
  overflow-x: auto;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}

#history-table-wrapper::-webkit-scrollbar {
  height: 10px;
}
#history-table-wrapper::-webkit-scrollbar-track {
  background-color: #e5e5e5;
  border-radius: 10px;
}

#history-table-wrapper::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background:linear-gradient(90deg, #fda3d6 0%, #ab7ab6 97.64%);
}

#history-table{
  min-width: 660px;

}
#history-table th{
  vertical-align: text-top;
}

#history-table tbody tr {
  border-top: 2px solid #E5E5E5;
}

#history-table th,
#history-table td {
  padding-block: 1rem !important;
  padding-right: 1rem;
}
#history_account_items td.image-container{
  display: flex;
  align-items: center;
}
#history_account_items td.image-container .small-profile-image-container{
  flex-shrink: 0;
}
#history_account_items td.image-container .small-profile-image{
  width: 50px !important;
  height: 50px !important;
  object-fit: cover;

}


#history-main-content,
#history-main-content-item {
  display: flex;
}

.history-service-provider-text {
  padding-left: 1rem;
  color: #00beff !important;
}

#resp-table {
  width: 100%;
  display: table;
}
#resp-table-header {
  display: table-header-group;
}
.table-header-cell {
  display: table-cell;
  text-align: justify;
}
#resp-table-body {
  display: table-row-group;
}
.resp-table-row {
  display: table-row;
}
.table-body-cell {
  display: table-cell;
}

@media screen and (max-width:768px) {
  #history-table-wrapper{
    width: calc(100vw - 57px);
  }
}