@font-face {
  font-family: "Poppins medium";
  src: url(../../Fonts/Poppins-Medium.ttf);
}

@font-face {
  font-family: "Poppins bold";
  src: url(../../Fonts/Poppins-Bold.ttf);
}

@font-face {
  font-family: "Poppins regular";
  src: url(../../Fonts/Poppins-Regular.ttf);
}

#history-wrapper {
  padding: 2rem 2rem 2rem 2rem;
}

#history_form-div {
  background: #ffffff;
  box-shadow: 0px 1px 14px #f2f2f2;
  border-radius: 4px;
  height: 52px;
  width: 30%;
  margin: 2rem 0 3rem 0;
}

.history-search-form {
  border: none !important;
}

.history-search-form input {
  width: 30%;
}

.history-search-form::placeholder {
  font-family: Poppins regular;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  color: #000000;
  mix-blend-mode: normal;
  opacity: 0.5;
}

#history_no_of_items_text {
  font-family: Poppins regular;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  margin-bottom: 2rem;
}

#history_account_items {
  margin-bottom: 3rem !important;
}

#history-main-content,
#history-main-content-item {
  display: flex;
}

.history-service-provider-text {
  margin: 1rem;
  color: #00beff !important;
}

#resp-table {
  width: 100%;
  display: table;
}
#resp-table-header {
  display: table-header-group;
}
.table-header-cell {
  display: table-cell;
  text-align: justify;
}
#resp-table-body {
  display: table-row-group;
}
.resp-table-row {
  display: table-row;
}
.table-body-cell {
  display: table-cell;
}
