@font-face {
  font-family: "Poppins bold";
  src: url(../../Fonts/Poppins-Bold.ttf);
}

@font-face {
  font-family: "Poppins regular";
  src: url(../../Fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: "Poppins medium";
  src: url(../../Fonts/Poppins-Medium.ttf);
}

@font-face {
  font-family: "Rubik regular";
  src: url(../../Fonts/Rubik-Regular.ttf);
}

/* #sidebar-wrapper {
  background: #ffffff;
  box-shadow: 1px 0px 14px #f2f2f2;
} */

#sidebar-list {
  margin-top: 54px;
  display: flex;
  justify-content: center;
}

#logo-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

#sidebar-list ul {
  list-style: none;
  width: 210px;
  height: 52px;
}
#sidebar-list ul li {
  margin-top: 1rem;
}

.active {
  background: linear-gradient(90deg, #fda3d6 0%, #ab7ab6 97.64%);
  mix-blend-mode: normal;
  opacity: 1;
  border-radius: 10px;
  width: fit-content;
  padding-top: 0.8rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.inactive {
  background: #ffffff;
}

.sidebar-item-paragraph {
  font-family: Poppins medium;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #000000;
  mix-blend-mode: normal;
  opacity: 0.4;
  margin-left: 12px;
  margin-bottom: 3px;
}

#sidebar-footer {
  margin-top: 8rem;
  font-family: Poppins medium;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #ab7ab6;
}

.links {
  text-decoration: none;
}
