@font-face {
  font-family: "Poppins medium";
  src: url(../../Fonts/Poppins-Medium.ttf);
}

@font-face {
  font-family: "Poppins bold";
  src: url(../../Fonts/Poppins-Bold.ttf);
}

@font-face {
  font-family: "Poppins regular";
  src: url(../../Fonts/Poppins-Regular.ttf);
}

#explore-details-wrapper {
  padding: 2rem 2rem 2rem 2rem;
}

#explore-details-header {
  font-family: Poppins Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 48px;
  color: #000000;
}
#explore-details-sub-header {
  font-family: Poppins Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 100%;
  color: #000000;
}

#explore-details-header-wrapper {
  width: 40%;
  display: flex;
  justify-content: space-between;
}

#explore-details-sub-inner-right-subheader-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}

#explore-details-sub-header-inner-wrapper {
  display: flex;
  justify-content: space-between;
}

#explore-details-inner-right-btn-wrapper {
  display: flex;
}

#explore-details-inner-right-text {
  padding: 1rem 1rem 0rem 0rem;
}

/* #explore-details-features-text {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  mix-blend-mode: normal;
  opacity: 0.9;
} */

#explore-details-inner-wrapper {
  display: flex;
  justify-content: space-between;
}

#right {
  padding: 1.5rem 1rem 1.5rem 1rem;
  display: flex;
  justify-content: space-between;
  width: 65%;
  background: #ffffff;
  box-shadow: 0px 1px 14px #f2f2f2;
  border-radius: 4px;
  margin-right: 2rem;
}
#compare-right {
  padding: 1.5rem 1rem 1.5rem 1rem;
  display: flex;
  justify-content: space-between;
  width: 50%;
  background: #ffffff;
  box-shadow: 0px 1px 14px #f2f2f2;
  border-radius: 4px;
  margin-right: 2rem;
}

#explore-details-inner-right {
  width: 67%;
  border-right: 1px solid lightgray;
}

#explore-details-inner-left-inner-wrapper {
  border-bottom: 1px solid lightgray;
}
#explore-details-inner-left {
  width: 30%;
}
#left {
  width: 35%;
}

#explore-details-review {
  margin-top: 1.5rem;
}

#explore-details-reviews-inner-div {
  display: flex;
}

#explore-details-review-name {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #19233a;
}

#explore-details-reviews-first-inner-div {
  margin-bottom: 2rem;
}

#explore-details-review-details {
  margin-left: 1rem;
}

/* #explore-details-right-col-buy-now-btn {
  width: 100%;
  height: 45px;
  background: linear-gradient(90deg, #fda3d6 0%, #ab7ab6 97.64%);
  opacity: 0.9;
  border-radius: 90em;
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  margin-bottom: 1.5rem;
}
#explore-details-right-col-buy-now-btn-text {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
} */
/* #explore-details-right-col-btn {
  width: 100%;
  height: 45px;
  background: transparent;
  opacity: 0.9;
  border-radius: 90em;
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  border: 1px solid #ae7cb8;
  margin-bottom: 1.5rem;
}
#explore-details-right-col-btn-text {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #ae7cb8;
} */

/* .explore-details-card {
  background: #ffffff;
  box-shadow: 1px 0px 14px #f2f2f2;
  border-radius: 5px;
  height: auto;
  padding: 1.5rem;
}

#explore-details-view-button {
  width: 124px;
  height: 45px;
  background: transparent;
  opacity: 0.9;
  border-radius: 90em;
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  border: 1px solid #ae7cb8;
}

#explore-details-view-button-text {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #ae7cb8;
} */
