@font-face {
  font-family: "Poppins medium";
  src: url(../../Fonts/Poppins-Medium.ttf);
}

@font-face {
  font-family: "Poppins bold";
  src: url(../../Fonts/Poppins-Bold.ttf);
}

@font-face {
  font-family: "Poppins regular";
  src: url(../../Fonts/Poppins-Regular.ttf);
}

#explore-details-wrapper {
  padding: 2rem 2rem 2rem 2rem;
}

#explore-details-header {
  font-family: Poppins Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 48px;
  color: #000000;
}

#explore-details-active {
  font-family: Poppins Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 48px;
  color: #ab7ab6;
}
#explore-details-sub-header {
  font-family: Poppins Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 100%;
  color: #000000;
}

#explore-details-header-wrapper {
  width: 40%;
  display: flex;
  justify-content: space-between;
}

#explore-details {
  display: flex;
  justify-content: space-between;
}

#explore-details-sub-inner-right-subheader-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}

#explore-details-sub-header-inner-wrapper {
  display: flex;
  justify-content: space-between;
}

#explore-details-inner-right-btn-wrapper {
  display: flex;
}

#explore-details-inner-right-text {
  padding: 1rem 1rem 0rem 0rem;
}

#explore-details-inner-wrapper {
  display: flex;
  justify-content: space-between;
}

#right {
  padding: 1.5rem 1rem 1.5rem 1rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: #ffffff;
  box-shadow: 0px 1px 14px #f2f2f2;
  border-radius: 4px;
  margin-right: 2rem;
}

#right-with-compare {
  padding: 1.5rem 1rem 1.5rem 1rem;
  display: flex;
  justify-content: space-between;
  background: #ffffff;
  box-shadow: 0px 1px 14px #f2f2f2;
  border-radius: 4px;
  margin-right: 2rem;
  margin-top: 3.5rem;
}
#compare-right {
  padding: 1.5rem 1rem 1.5rem 1rem;
  display: flex;
  justify-content: space-between;
  width: 50%;
  background: #ffffff;
  box-shadow: 0px 1px 14px #f2f2f2;
  border-radius: 4px;
  margin-right: 2rem;
}

#explore-details-inner-right {
  width: 67%;
  border-right: 1px solid lightgray;
}

#explore-details-inner-left-inner-wrapper {
  border-bottom: 1px solid lightgray;
}
#explore-details-inner-left {
  width: 30%;
}
#left {
  width: 35%;
}

#left > .desktop-sub-header2 > .card:first-child {
  margin-bottom: 2rem;
}

#explore-details-review {
  margin-top: 1.5rem;
}

#explore-details-reviews-inner-div {
  display: flex;
}

#explore-details-review-name {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #19233a;
}

#explore-details-reviews-first-inner-div {
  margin-bottom: 2rem;
}

#explore-details-review-details {
  margin-left: 1rem;
}

#display-compare-btn {
  display: block;
}

#hide-compare-btn {
  display: none;
}

#explore-loading {
  display: inline-block;
  width: 25px;
  height: 25px;
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}
@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
