@font-face {
  font-family: "Poppins medium";
  src: url(../../Fonts/Poppins-Medium.ttf);
}

@font-face {
  font-family: "Poppins bold";
  src: url(../../Fonts/Poppins-Bold.ttf);
}

@font-face {
  font-family: "Poppins regular";
  src: url(../../Fonts/Poppins-Regular.ttf);
}

#explore-wrapper {
  padding: 2rem 2rem 2rem 2rem;
}

#explore-form-btn {
  display: flex;
  justify-content: space-around;
}

#form-div {
  background: #ffffff;
  box-shadow: 0px 1px 14px #f2f2f2;
  border-radius: 4px;
  height: 52px;
}

.explore-search-form {
  border: none !important;
}

.explore-search-form input {
  width: 80%;
}

.explore-search-form::placeholder {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: #000000;
  mix-blend-mode: normal;
  opacity: 0.5;
}

#explore-dropdown-div {
  width: 20%;
}

#explore-inner-div {
  margin-top: 3rem;
}

#explore-cards-pagination-wrapper {
  display: flex;
  justify-content: space-between;
}
