#explore-compare-header {
  text-align: center;
  font-family: Poppins bold;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 48px;
  color: #000000;
}
#explore-compare-image {
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
  width: 100%;
  border-radius: 20px;
}

#explore-compare-details-holder {
  margin-top: 3rem;
}

#explore-compare-clear {
  text-align: right;
  font-family: "Poppins bold";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  color: #ac7bb6;
  border-bottom: 2px solid #ac7bb6;
  width: fit-content;
  margin-bottom: 2rem;
}
