#nav-wrapper {
  background: #ffffff;
  box-shadow: 0px 1px 14px #f2f2f2;
  height: 8%;
}

#nav-right-wrapper {
  padding: 1.5rem 2rem 1.5rem 0;
  float: right;
}

#nav-right {
  display: flex;
  justify-content: space-around;
}

.nav-right-item {
  padding-right: 5rem;
  line-height: 22px;
}

.nav-right-item:not(:last-child) {
  border-right: 1px grey solid;
  height: 40px;
}

.nav-right-item:not(:first-child) {
  margin-left: 4rem;
}

.nav-right-item-text {
  padding-top: 1rem;
}

#nav-image {
  width: 100px;
  height: 50px;
  position: relative;
  overflow: hidden;
}

#nav-img {
  width: 100%;
  border-radius: 50%;
  height: 100%;
}

/* #row-wrapper {
  margin-right: 13rem;
} */
