#nav-wrapper {
  background: #ffffff;
  box-shadow: 0px 1px 14px #f2f2f2;
  /* height: 60px; */
  padding: 1rem;
}

#nav-wrapper > ul {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

#nav-wrapper > ul > div > li {
  padding: 0;
}

#nav-right-wrapper {
  padding: 1.5rem 2rem 1.5rem 0;
  float: right;
}

#nav-right {
  display: flex;
  justify-content: space-around;
}

.nav-right-item {
  padding-right: 5rem;
  line-height: 22px;
}

/* .nav-right-item:not(:last-child) {
  border-right: 1px grey solid;
  height: 40px;
} */

.nav-right-item:not(:first-child) {
  margin-left: 4rem;
}

#Hamburger-Icon {
  display: none;
}

#notification-icon {
  margin-left: auto;
  margin-right: 1rem;
}
#notification-icon > button {
  border: 0;
  outline: 0;
  background-color: transparent;
}
#nav-image .nav-Avatar {
  border: 2px solid #585858;
  border-radius: 999px;
  padding: 5px;
}
#nav-image .nav-Avatar path {
  fill: #585858;
}

#nav-img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  object-position: center;
  border-radius: 999px;
  margin-left: 1rem;

  /* border-radius: 50%;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden; */
}

#user-name-text {
  margin-left: 15px;
}

#notifcations-holder {
  position: absolute;
  width: 20%;
  z-index: 9;
}

#notifications-badge {
  background-color: red;
  width: 15px;
  border-radius: 90%;
  font-size: 12px;
  color: #fff;
  padding: 0.6rem;
}

#notifcations-holder > .nav-right-item {
  position: relative;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  text-align: center;
  margin-left: 25px;
}

#display-notification-drop-down-wrapper {
  display: block;
  height: 400px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.125);
  margin: 15px auto 0;
  position: relative;
}

#notification-drop-down-wrapper {
  display: none;
}

#notification-drop-down-inner {
  display: flex;
  grid: 5%;
  padding: 1rem 2rem 2rem 2rem;
}

#new-notofication-holder {
  background: linear-gradient(90deg, #fda3d6 0%, #ab7ab6 97.64%);
}
#old-notofication-holder {
  background: #fff;
}

#notification-header {
  font-family: "Poppins Medium";
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 21px;
  padding: 1rem 0rem 0rem 2rem;
}

#new-notification-drop-down-inner {
  display: flex;
  grid: 5%;
}

#notification-drop-down-inner-text {
  margin-left: 2rem;
}

#nav-notification-header {
  font-family: "Poppins bold";
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 21px;
}

#nav-notification-text {
  font-family: "Poppins regular";
  font-style: normal;
  font-weight: 900;
  font-size: 12px;
  line-height: 21px;
}

.sign-out-button {
  background: linear-gradient(90deg, #fda3d6 0%, #ab7ab6 97.64%);
  border-radius: 90em;
  display: flex;
  justify-content: center;
  padding: 1rem 3rem;
  cursor: pointer;
  margin-left: 30px;
}

.sign-out-button-text {
  font-family: "Poppins medium";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

hr {
  margin: 0 !important;
}

@media screen and (max-width: 1024px) {
  #nav-wrapper {
    z-index: 9;
    position: sticky;
    top: 0;
  }
  #nav-image,
  #user-name-text,
  #signout-Btn {
    display: none;
  }

  #Hamburger-Icon {
    display: block;
  }
  #Hamburger-Icon > button {
    border: none;
    background-color: transparent;
    outline: none;
  }
}
