#nav-wrapper {
  background: #ffffff;
  box-shadow: 0px 1px 14px #f2f2f2;
  height: 8%;
}

#nav-wrapper > ul {
  list-style: none;
  margin: 0;
}

#nav-wrapper > ul > li {
  position: relative;
  float: right;
}

#nav-right-wrapper {
  padding: 1.5rem 2rem 1.5rem 0;
  float: right;
}

#nav-right {
  display: flex;
  justify-content: space-around;
}

.nav-right-item {
  padding-right: 5rem;
  line-height: 22px;
}

/* .nav-right-item:not(:last-child) {
  border-right: 1px grey solid;
  height: 40px;
} */

.nav-right-item:not(:first-child) {
  margin-left: 4rem;
}

.nav-right-item-text {
  padding-top: 1rem;
}

#nav-image {
  width: 100px;
  height: 50px;
  position: relative;
  overflow: hidden;
}

#nav-img {
  width: 100%;
  border-radius: 50%;
  height: 100%;
}
#notifcations-holder {
  position: absolute;
  width: 20%;
  z-index: 9;
}

#notifications-badge {
  background-color: red;
  width: 15px;
  border-radius: 25%;
}
#notifcations-holder > .nav-right-item {
  position: relative;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  text-align: center;
}

#display-notification-drop-down-wrapper {
  display: block;
  height: 400px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.125);
  margin: 15px auto 0;
  position: relative;
}

#notification-drop-down-wrapper {
  display: none;
}

#notification-drop-down-inner {
  display: flex;
  grid: 5%;

  padding: 1rem 2rem 2rem 2rem;
}

#new-notofication-holder {
  background: linear-gradient(90deg, #fda3d6 0%, #ab7ab6 97.64%);
}
#old-notofication-holder {
  background: #fff;
}

#notification-header {
  font-family: "Poppins Medium";
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 21px;
  padding: 1rem 0rem 0rem 2rem;
}

#new-notification-drop-down-inner {
  display: flex;
  grid: 5%;
}

#notification-drop-down-inner-text {
  margin-left: 2rem;
}

#nav-notification-header {
  font-family: "Poppins Bold";
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 21px;
}

#nav-notification-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  font-size: 12px;
  line-height: 21px;
}

hr {
  margin: 0 !important;
}
