@font-face {
  font-family: "Poppins bold";
  src: url(../Fonts/Poppins-Bold.ttf);
}

@font-face {
  font-family: "Poppins regular";
  src: url(../Fonts/Poppins-Regular.ttf);
}

#landing-wrapper {
  height: 100% !important;
  background: linear-gradient(90deg, #fda3d6 0%, #ab7ab6 97.64%);
  mix-blend-mode: normal;
  opacity: 0.9;
  padding-top: 4rem;
}

#left-col2 {
  margin-top: 12rem;
}

#right-col2 {
  margin-top: 1rem;
}

#mobile-animation {
  display: none;
}

#coming-soon-text {
  font-family: Poppins;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  color: #2d2d2d;
  margin-top: 2rem;
  margin-bottom: 2rem;
  line-height: 24px;
}

#get-notified-text {
  top: calc(50% - 140px / 2 - 150px);
  font-family: Poppins bold;
  font-style: normal;
  font-weight: 1000;
  font-size: 32px;
  line-height: 45px;
  align-items: center;
  color: #000000;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}

#get-notified-text-mobile {
  display: none;
}

#instagram-holder {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  padding: 1rem;
  border: 1px solid #000000;
}

input[type="text"] {
  text-align: left;
  border-radius: 10px;
  background-color: transparent;
  color: #000000;
  border: 2px solid #000000;
  font-size: 20px;
  width: 90%;
  height: 55px;
  padding-left: 2rem;
}

input[type="email"] {
  text-align: left;
  border-radius: 10px;
  margin-top: 1rem;
  background-color: transparent;
  color: #000000;
  border: 2px solid #000000;
  font-size: 20px;
  width: 95%;
  height: 55px;
  padding-left: 2rem;
}

input[type="email"]:invalid {
  border: 2px solid red;
}

input::placeholder {
  color: #000000;
  margin-bottom: 3rem !important;
  font-family: Poppins regular;
  font-style: normal;
  font-weight: normal;
  font-size: 16px !important;
  line-height: 24px;
}

input[type="text"]:active,
input[type="text"]:focus {
  outline: none;
  color: #000000;
  font-size: 16px !important;
}

input[type="email"]:active,
input[type="email"]:focus {
  outline: none;
  color: #000000;
  font-size: 16px !important;
}

#btn {
  background-color: #000000;
  border-radius: 50px;
  border: none;
  margin-top: 2rem;
  font-family: Poppins regular;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  width: 95%;
  height: 60px;
}

#icons-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  width: 100px;
}

@keyframes stretch-no-text {
  0% {
    background-color: #fda3d6;
  }
  100% {
    background-color: red;
  }
}
@keyframes stretch-email-exists-text {
  0% {
    background-color: #fda3d6;
  }
  100% {
    background-color: lightgray;
  }
}

#no-text-error {
  font-family: Poppins;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  background-color: red;
  color: #000000;
  border-radius: 90em;
  padding: 0.5rem 1.1rem 0.5rem 1.1rem;
  width: 100%;
  margin-top: 1rem;
  animation-name: stretch-no-text;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;
}

#invalid-email-error {
  font-family: Poppins;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  background-color: red;
  color: #000000;
  border-radius: 90em;
  padding: 0.5rem 1.1rem 0.5rem 1.1rem;
  width: 100%;
  margin-top: 1rem;
  animation-name: stretch-no-text;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;
}

#success-text {
  font-family: Poppins;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  background-color: green;
  border-radius: 90em;
  padding: 0.5rem 1.1rem 0.5rem 1.1rem;
  width: 100%;
  margin-top: 1.2rem;
}
#email-exists {
  font-family: Poppins;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  background-color: lightgray;
  color: #000000;
  border-radius: 90em;
  padding: 0.5rem 1.1rem 0.5rem 1.1rem;
  width: 100%;
  margin-top: 1rem;
  animation-name: stretch-email-exists-text;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;
}

#checkbox-wrapper {
  margin-top: 3rem;
  width: 60%;
  display: flex;
  justify-content: space-between;
}

#checkbox-icon {
  width: 100%;
}

#checkbox-text {
  margin-top: 1.5rem;
  font-family: Poppins regular;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 10px;
  align-items: center;
  letter-spacing: 1px;
  color: #2d2d2d;
}

.active {
  width: 40px;
  height: 40px;
  border: 2px solid #000000;
  background-color: transparent;
  cursor: pointer;
}

.hero-sm-icons {
  margin-left: 1rem;
}

.inactive {
  width: 40px;
  height: 40px;
  border: 2px solid #000000;
  background-color: #000000;
  cursor: pointer;
}

#love-heart-icon {
  width: 10%;
}

@media screen and (max-width: 700px) {
  #landing-wrapper {
    padding: 13rem 1rem 3rem 1rem;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #fda3d6 0%, #ab7ab6 97.64%);
    mix-blend-mode: normal;
    opacity: 0.9;
  }
  #left-col2 {
    margin-top: 1px;
  }
  #right-col2 {
    display: none;
  }
  #mobile-animation {
    display: block;
  }
  #coming-soon-text {
    margin-top: 2rem;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
  }
  #get-notified-text {
    display: none;
  }

  #success-text,
  #no-text-error,
  #email-exists {
    width: 100%;
  }

  #success-text > p,
  #no-text-error > p,
  #email-exists > p {
    font-family: Poppins Medium;
    font-size: 15px;
  }
  #get-notified-text-mobile {
    font-family: Poppins Bold;
    font-size: 26px;
    margin-top: 0.2rem;
    line-height: 45px;
    color: #000000;
    display: block;
    text-align: center;
  }
  input[type="text"] {
    width: 100%;
    background-color: transparent;
    color: #000000;
    border: 2px solid #000000;
    font-size: 20px;
    margin-bottom: 1.5rem;
  }
  input[type="email"] {
    width: 100%;
    background-color: transparent;
    color: #000000;
    border: 2px solid #000000;
    font-size: 20px;
  }
  #btn {
    width: 100%;
    height: 50px;
  }
  #icons-wrapper {
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 30%;
  }
  #checkbox-wrapper {
    margin-top: 3rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  #checkbox-text {
    margin-top: 0.4rem;
    margin-left: 1rem;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 17px;
    align-items: center;
    letter-spacing: 1px;
    color: #2d2d2d;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
  #landing-wrapper {
    padding: 3rem 3rem;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #fda3d6 0%, #ab7ab6 97.64%);
    mix-blend-mode: normal;
    opacity: 0.9;
  }
  #right-col2 {
    display: none;
  }
  #mobile-animation {
    display: block;
    margin-bottom: 3rem;
  }
  #coming-soon-text {
    font-size: 26px;
    line-height: inherit;
    text-align: center;
  }
  #get-notified-text {
    font-size: 45px;
    text-align: center;
    line-height: inherit;
  }
  .col-md-2 {
    width: 100% !important;
  }
  #firstName {
    margin-bottom: 1rem;
  }
  input[type="text"] {
    width: 100%;
    font-size: 30px;
  }
  input[type="email"] {
    margin-top: 1rem;
    width: 100%;
    font-size: 30px;
  }
  input::placeholder {
    font-size: 20px;
    font-weight: 600;
  }
  input[type="text"]:active,
  input[type="text"]:focus {
    font-size: 30px;
  }
  input[type="email"]:active,
  input[type="email"]:focus {
    font-size: 30px;
  }
  #btn {
    margin-top: 2rem;
    font-size: 26px;
    width: 100%;
  }
  #checkbox-wrapper {
    margin-top: 3rem;
    width: 70%;
    display: flex;
    justify-content: space-between;
  }
  #checkbox-text {
    margin-top: 1rem;
    margin-left: 1rem;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 17px;
    align-items: center;
    letter-spacing: 1px;
    color: #2d2d2d;
  }
}

/* Ipad pro*/

@media only screen and (min-width: 1024px) and (max-width: 1370px) and (-webkit-min-device-pixel-ratio: 2) {
  #landing-wrapper {
    padding: 3rem 3rem;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #fda3d6 0%, #ab7ab6 97.64%);
    mix-blend-mode: normal;
    opacity: 0.9;
  }
  .col-lg-7 {
    width: 50% !important;
  }
  #right-col2 {
    display: block;
    padding-top: 11rem;
  }

  #right-col2 > div {
    width: 600px !important;
    height: 500px !important;
  }
  #mobile-animation {
    display: none;
  }
  #coming-soon-text {
    font-size: 20px;
  }
  #get-notified-text {
    font-size: 30px;
    line-height: inherit;
  }
  .col-md-2 {
    width: 100% !important;
  }
  #firstName {
    margin-bottom: 1rem;
  }
  input[type="text"] {
    width: 100%;
    font-size: 30px;
  }
  input[type="email"] {
    margin-top: 1rem;
    width: 100%;
    font-size: 30px;
  }
  input::placeholder {
    font-size: 20px;
    font-weight: 600;
  }
  input[type="text"]:active,
  input[type="text"]:focus {
    font-size: 30px;
  }
  input[type="email"]:active,
  input[type="email"]:focus {
    font-size: 30px;
  }
  #btn {
    margin-top: 2rem;
    font-size: 18px;
    width: 100%;
  }
  #checkbox-wrapper {
    margin-top: 3rem;
    width: 70%;
    display: flex;
    justify-content: space-between;
  }
  #checkbox-text {
    margin-top: 1rem;
    margin-left: 1rem;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 17px;
    align-items: center;
    letter-spacing: 1px;
    color: #2d2d2d;
  }
  /* #landing-wrapper {
    padding-top: 10rem;
    height: 90vh;
    background: linear-gradient(90deg, #fda3d6 0%, #ab7ab6 97.64%);
    mix-blend-mode: normal;
    opacity: 0.9;
  }
  #right-col2 {
    display: none;
  }
  #left-col2 {
    padding-top: 15rem;
  }
  #coming-soon-text {
    font-size: 46px;
  }
  #get-notified-text {
    font-size: 60px;
  }
  input[type="text"] {
    font-size: 30px;
  }
  input[type="email"] {
    font-size: 30px;
  }
  input::placeholder {
    font-size: 30px;
    font-weight: 600;
  }
  input[type="text"]:active,
  input[type="text"]:focus {
    font-size: 30px;
  }
  input[type="email"]:active,
  input[type="email"]:focus {
    font-size: 30px;
  }
  #btn {
    font-size: 26px;
  }
  #checkbox-wrapper {
    margin-top: 3rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  #checkbox-text {
    margin-top: 0.5rem;
    margin-left: 1rem;
    font-family: Poppins;
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 17px;
    align-items: center;
    letter-spacing: 1px;
    color: #2d2d2d;
  } */
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
  #landing-wrapper {
    padding: 3rem 3rem;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #fda3d6 0%, #ab7ab6 97.64%);
    mix-blend-mode: normal;
    opacity: 0.9;
  }
  .col-lg-7 {
    width: 50% !important;
  }
  #right-col2 {
    display: block;
    padding-top: 11rem;
  }
  #right-col2 > div {
    width: 700px !important;
    height: 500px !important;
  }
  #mobile-animation {
    display: none;
  }
  #coming-soon-text {
    font-size: 20px;
  }
  #get-notified-text {
    font-size: 30px;
    line-height: inherit;
  }
  .col-md-2 {
    width: 100% !important;
  }
  #firstName {
    margin-bottom: 1rem;
  }
  input[type="text"] {
    width: 100%;
    font-size: 30px;
  }
  input[type="email"] {
    margin-top: 1rem;
    width: 100%;
    font-size: 30px;
  }
  input::placeholder {
    font-size: 20px;
    font-weight: 600;
  }
  input[type="text"]:active,
  input[type="text"]:focus {
    font-size: 30px;
  }
  input[type="email"]:active,
  input[type="email"]:focus {
    font-size: 30px;
  }
  #btn {
    margin-top: 2rem;
    font-size: 18px;
    width: 100%;
  }
  #checkbox-wrapper {
    margin-top: 3rem;
    width: 70%;
    display: flex;
    justify-content: space-between;
  }
  #checkbox-text {
    margin-top: 1rem;
    margin-left: 1rem;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 17px;
    align-items: center;
    letter-spacing: 1px;
    color: #2d2d2d;
  }
}

/* ----------- Retina Screens ----------- */
/* @media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
} */

@media screen and (width: 1024px) {
  .col-lg-7 {
    width: 50% !important;
  }

  #right-col2 > div {
    width: 600px !important;
    height: 500px !important;
  }
}
