@font-face {
  font-family: "Poppins bold";
  src: url(../Fonts/Poppins-Bold.ttf);
}

@font-face {
  font-family: "Poppins regular";
  src: url(../Fonts/Poppins-Regular.ttf);
}

#footer-form-wrapper {
  background: linear-gradient(90deg, #fda3d6 0%, #ab7ab6 97.64%);
  mix-blend-mode: normal;
}

.row-wrapper {
  padding: 3rem 3rem;
}

#subscribe-btn {
  background-color: #000000;
  border-radius: 50px;
  border: none;
  margin-top: 2rem;
  font-family: Poppins regular;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  width: 95%;
  height: 60px;
}

#mail-list-text-coming-soon {
  font-family: Poppins regular;
}

/* #mail-list-text-coming-soon {
  font-family: Poppins bold;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 50px;
  color: #000000;
} */

#mail-list-text {
  font-family: Poppins bold;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 50px;
  color: #000000;
}

@media screen and (max-width: 700px) {
  #mail-list-text {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 45px;
  }
  #subscribe-btn {
    width: 100%;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
  #mail-list-text {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 45px;
  }
  #subscribe-btn {
    width: 100%;
  }
}
