#logo-container {
  padding: 1rem 1rem;
  height: 10vh;
}

#stay-tuned {
  width: 10%;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  #stay-tuned {
    display: none;
  }

  #logo-with-text {
    width: 40%;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
  #stay-tuned {
    display: none;
  }
  #logo-with-text {
    width: 40%;
  }
}
