@font-face {
  font-family: "Poppins regular";
  src: url(../Fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: "Poppins bold";
  src: url(../Fonts/Poppins-Bold.ttf);
}

#success-right-col {
  margin-top: 150px;
  margin-right: 0.8rem;
  padding: 1rem 2rem;
}

#success-right-col-wrapper {
  display: flex;
  justify-content: center;
}

#success-header {
  font-family: Poppins bold;
  font-size: 20px;
  margin-bottom: 20px;
}

#success-right-col-inner-wrapper {
  text-align: center;
  width: 100%;
  margin-top: 30px;
}

#success-subtext {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 26px;
  color: #2d2d2d;
}

@media screen and (max-width: 1024px) {
  #success-left-col {
    display: none;
  }
}
