@font-face {
  font-family: "Poppins medium";
  src: url(./Fonts/Poppins-Medium.ttf);
}

@font-face {
  font-family: "Poppins bold";
  src: url(./Fonts/Poppins-Bold.ttf);
}

@font-face {
  font-family: "Poppins regular";
  src: url(./Fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: "Rubik";
  src: url(./Fonts/Rubik-Regular.ttf);
}

#fe-wrapper {
  display: flex;
  justify-content: space-between;
}
.links {
  text-decoration: none;
}

#left-col {
  width: 15%;
  height: 100vh;
  background: #ffffff;
  box-shadow: 1px 0px 14px #f2f2f2;
  position: fixed;
  z-index: 1;
  left: 0px;
  overflow-x: hidden;
}

#right-col {
  width: 85%;
  height: 100vh;
  margin-left: 15%;
}

.sidebar-nav-item {
  font-family: Poppins medium;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #000000;
  mix-blend-mode: normal;
  opacity: 0.4;
  margin-left: 12px;
  margin-bottom: 3px;
}

.desktop-dashboard-ultimate-wrapper {
  padding: 2rem;
}

.desktop-header {
  margin: 2rem 0rem 1rem 3rem;
  font-family: Poppins bold;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 48px;
  color: #000000;
}

.desktop-sub-header1 {
  font-family: Poppins medium;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 36px;
  color: #000000;
  mix-blend-mode: normal;
  opacity: 0.4;
}

.desktop-sub-header2 {
  font-family: Poppins medium;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 27px;
  color: #000000;
}

.desktop-nav-header {
  font-family: Poppins medium;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  mix-blend-mode: normal;
  opacity: 0.4;
}

.desktop-text {
  font-family: Poppins;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 22px;
  color: #000000;
  mix-blend-mode: normal;
  /* opacity: 1; */
}

.desktop-big-button {
  width: 100%;
  height: 45px;
  background: linear-gradient(90deg, #fda3d6 0%, #ab7ab6 97.64%);
  opacity: 0.9;
  border-radius: 90em;
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  margin-bottom: 1.5rem;
  cursor: pointer;
}

.desktop-big-button-text {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.desktop-big-button-transparent {
  width: 100%;
  height: 45px;
  background: transparent;
  opacity: 0.9;
  border-radius: 90em;
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  border: 1px solid #ae7cb8;
  margin-bottom: 1.5rem;
  cursor: pointer;
}

.desktop-big-button-transparent-text {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #ae7cb8;
}

.desktop-medium-button {
  width: 50%;
  height: 45px;
  background: linear-gradient(90deg, #fda3d6 0%, #ab7ab6 97.64%);
  opacity: 0.9;
  border-radius: 90em;
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  margin-bottom: 1.5rem;
  cursor: pointer;
}

.desktop-medium-button-text {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.desktop-small-button {
  width: 25%;
  height: 45px;
  background: linear-gradient(90deg, #fda3d6 0%, #ab7ab6 97.64%);
  opacity: 0.9;
  border-radius: 90em;
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  margin-bottom: 1.5rem;
  cursor: pointer;
}

.mobile-header {
}

.mobile-sub-header {
}

.mobile-text {
}

.mobile-big-button {
}

.mobile-medium-button {
}

.mobile-small-button {
}

.desktop-badge1 {
  width: 100px;
  height: 35px;
  background: #ab7ab6;
  opacity: 0.9;
  border-radius: 90em;
  display: flex;
  justify-content: center;
  padding-top: 0.4rem;
}

.desktop-badge-text {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  padding-top: 0.1rem;
}

.desktop-cta {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 36px;
  color: #ac7bb6;
  border-bottom: 2px solid #ac7bb6;
}

.mobile-cta {
}

.desktop-price {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  mix-blend-mode: normal;
  opacity: 0.6;
}

.desktop-price-number {
  font-family: Poppins bold;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 36px;
  color: #ac7bb6;
}

.mobile-price {
}

.cards {
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
}

.card {
  background: #ffffff;
  box-shadow: 1px 0px 14px #f2f2f2;
  border-radius: 5px;
  height: auto;
  padding: 1.5rem;
}

.card-inner-first-div {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0 1rem 0;
}

.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.small-profile-image-container {
  position: relative;
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
}
.small-profile-image {
  width: 100%;
  height: auto;
}

.empty-services-holder {
  position: absolute;
  top: 50%;
  left: 37%;
  margin-left: -100px;
  margin-top: -30px;
  text-align: center;
}

.empty-services-text {
  font-family: Poppins medium;
  font-style: normal;
  font-weight: 900;
  font-size: 22px;
  line-height: 22px;
  color: #000000;
  mix-blend-mode: normal;
}

.success-notification-holder {
  font-family: Poppins;
  font-size: 18px;
  width: auto;
  height: 45px;
  background: green;
  border-radius: 90em;
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  margin-top: 2rem;
  color: #ffffff;
  font-weight: 900;
  line-height: 22px;
  mix-blend-mode: normal;
}
.error-notification-holder {
  font-family: Poppins;
  font-size: 18px;
  width: auto;
  height: 45px;
  background: red;
  border-radius: 90em;
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  margin-top: 2rem;
  color: #ffffff;
  font-weight: 900;
  line-height: 22px;
  mix-blend-mode: normal;
}
.exist-notification-holder {
  font-family: Poppins;
  font-size: 18px;
  width: auto;
  height: 45px;
  background: grey;
  border-radius: 90em;
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  margin-top: 2rem;
  color: #ffffff;
  font-weight: 900;
  line-height: 22px;
  mix-blend-mode: normal;
}

input::placeholder {
  color: #000000;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

input[type="text"] {
  text-align: left;
  border-radius: 10px;
  background-color: transparent;
  color: #000000;
  border: 2px solid #000000;
  font-size: 20px;
  height: 55px;
  padding-left: 2rem;
  background: #f6f6f8;
  width: 500px;
  border: 0;
  margin-bottom: 2rem;
  font-family: Poppins;
}

textarea[type="text"] {
  text-align: left;
  border-radius: 10px;
  background-color: transparent;
  color: #000000;
  border: 2px solid #000000;
  font-size: 20px;
  padding: 2rem;
  background: #f6f6f8;
  width: 500px;
  border: 0;
  margin-bottom: 2rem;
  font-family: Poppins;
}
input[type="date"] {
  text-align: left;
  border-radius: 10px;
  background-color: transparent;
  color: #000000;
  border: 2px solid #000000;
  font-size: 20px;
  width: 90%;
  height: 55px;
  padding-left: 2rem;
  background: #f6f6f8;
  width: 500px;
  border: 0;
  margin-bottom: 2rem;
  font-family: Poppins;
}

input[type="email"] {
  text-align: left;
  border-radius: 10px;
  margin-top: 1rem;
  background-color: transparent;
  color: #000000;
  border: 2px solid #000000;
  font-size: 20px;
  width: 95%;
  height: 55px;
  padding-left: 2rem;
}
input[type="password"] {
  text-align: left;
  border-radius: 10px;
  margin-top: 1rem;
  background-color: transparent;
  color: #000000;
  border: 2px solid #000000;
  font-size: 20px;
  width: 95%;
  height: 55px;
  padding-left: 2rem;
}

input[type="email"]:invalid {
  border: 2px solid red;
}

input[type="text"]:active,
input[type="text"]:focus {
  outline: none;
  color: #000000;
  font-size: 16px;
}

input[type="email"]:active,
input[type="email"]:focus {
  outline: none;
  color: #000000;
  font-size: 16px;
}

input[type="password"]:active,
input[type="password"]:focus {
  outline: none;
  color: #000000;
  font-size: 16px;
}

input[type="date"]:active,
input[type="date"]:focus {
  outline: none;
  color: #000000;
}

input[type="checkbox"] {
  width: 25px;
  height: 25px;
  margin-left: 1rem;
}

@media screen and (max-width: 2000px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
}
