@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
    font-family: Poppins, sans-serif;
    width: 100vw !important;
    overflow-x: hidden;
    line-height: 1.5;
}

p {
    font-family: Poppins, sans-serif;
}