#sign-up-wrapper {
  display: flex;
  justify-content: space-between;
}

#sign-up-right-col {
  width: 100%;
  padding: 2rem 2rem 2rem 2rem;
}
#login-right-col {
  padding: 9rem 2rem 2rem 2rem;
}

.sign-up-header {
  margin: 0 !important;
  text-align: center;
}

.input-holder {
  margin-top: 1rem;
}

.pin-input-holder {
  margin-top: 2rem;
}

.input-holder > input[type="text"] {
  text-align: left;
  border-radius: 10px;
  background-color: transparent;
  color: #000000;
  border: 2px solid #000000;
  font-size: 20px;
  height: 55px;
  padding-left: 2rem;
  background: #f6f6f8;
  width: 95%;
  border: 0;
  margin-bottom: 2rem;
  font-family: Poppins;
}

.input-holder > input[type="text"] {
  text-align: left;
  border-radius: 10px;
  background-color: transparent;
  color: #000000;
  border: 2px solid #000000;
  font-size: 20px;
  height: 55px;
  padding-left: 2rem;
  background: #f6f6f8;
  width: 100%;
  border: 0;
  margin-bottom: 2rem;
  font-family: Poppins;
}

.input-holder > input[type="email"] {
  text-align: left;
  border-radius: 10px;
  background-color: transparent;
  color: #000000;
  border: 2px solid #000000;
  font-size: 20px;
  height: 55px;
  padding-left: 2rem;
  background: #f6f6f8;
  width: 100%;
  border: 0;
  margin-bottom: 2rem;
  font-family: Poppins;
}

.input-holder > input[type="password"] {
  text-align: left;
  border-radius: 10px;
  background-color: transparent;
  color: #000000;
  border: 2px solid #000000;
  font-size: 20px;
  height: 55px;
  padding-left: 2rem;
  background: #f6f6f8;
  width: 100%;
  border: 0;
  margin-bottom: 2rem;
  font-family: Poppins;
}

.sign-up-span-link {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  color: #ab7ab6 !important;
  font-weight: bold !important;
}

.sign-up-footer {
  text-align: center;
  margin-top: 3rem;
}

#sign-up-btn {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.checkbox-forgot-pass {
  margin-top: 3rem;
}

#checkbox {
  height: 20px;
  width: 20px;
  transform: rotate(0) translate(0);
  transition: transform 0.5s, border-color 0.5s, width 0.5s;
  border: 1px solid #ab7ab6;
}

#checked2 {
  height: 30px;
  width: 15px;
  transform: rotate(45deg) translate(10px, -22px);
  transition: transform 0.5s, border-color 0.5s, width 0.5s;
  border: 1px solid #ab7ab6;
  border-top-color: transparent;
  border-left-color: transparent;
}

#check-wrapper {
  width: 20%;
  display: flex;
  justify-content: space-between;
}
#check-wrapper2 {
  width: 23%;
  display: flex;
  justify-content: space-between;
}

#login-icon-wrapper {
  display: flex;
  justify-content: space-evenly;
  margin: 3rem 0rem 3rem 0rem;
}

.icons-holder {
  padding: 1rem;
  width: 30%;
  display: flex;
  justify-content: space-evenly;
  border: 2px solid #000000;
  border-radius: 25px;
}

.auth-icons {
  width: 20%;
}

.icons-holder > p {
  margin-top: 0.5rem;
}

#recover-password-main {
  padding: 12rem 2rem 2rem 2rem;
}

#recover-password-main > .desktop-sub-header2 {
  margin-bottom: 2rem;
  text-align: center;
}

#recover-pass-login {
  text-align: right;
}
