#sign-up-wrapper {
  display: flex;
  justify-content: space-between;
}

#login-container,
#signup-container,
#forgot-psd-container {
  min-height: 100vh;
}

#login-row,
#signup-row,
#forgot-psd-row {
  min-height: 100vh;
}
#login-left-column,
#signup-left-column,
#forgot-psd-left-column {
  background-image: linear-gradient(to right, #fda3d6, #ab7ab6);
  display: flex;
  justify-content: center;
  align-items: center;
}
#login-left-column img,
#signup-left-column img,
#forgot-psd-left-column img {
  width: 65%;
}

#login-right-col,
#sign-up-right-col,
#forget-psd-right-col {
  margin-top: 8rem;
  max-width: 500px;
  margin-inline: auto;
  padding-inline: 2rem;
  padding-bottom: 2rem;
}
#forget-psd-right-col {
  margin-top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.sign-up-header {
  margin: 0 !important;
  text-align: center;
}

.input-holder {
  margin-top: 1rem;
}

.pin-input-holder {
  margin-top: 2rem;
}

.input-holder > input[type="text"] {
  text-align: left;
  border-radius: 10px;
  background-color: transparent;
  color: #000000;
  border: 2px solid #000000;
  font-size: 20px;
  height: 55px;
  padding-left: 2rem;
  background: #f6f6f8;
  width: 95%;
  border: 0;
  margin-bottom: 2rem;
  font-family: "Poppins regular";
}

.input-holder > input[type="text"] {
  text-align: left;
  border-radius: 10px;
  background-color: transparent;
  color: #000000;
  border: 2px solid #000000;
  font-size: 20px;
  height: 55px;
  padding-left: 2rem;
  background: #f6f6f8;
  width: 100%;
  border: 0;
  margin-bottom: 2rem;
  font-family: "Poppins regular";
}

.input-holder > input[type="email"] {
  text-align: left;
  border-radius: 10px;
  background-color: transparent;
  color: #000000;
  border: 2px solid #000000;
  font-size: 20px;
  height: 55px;
  padding-left: 2rem;
  background: #f6f6f8;
  width: 100%;
  border: 0;
  margin-bottom: 2rem;
  font-family: "Poppins regular";
}

.input-holder > input[type="password"] {
  text-align: left;
  border-radius: 10px;
  background-color: transparent;
  color: #000000;
  border: 2px solid #000000;
  font-size: 20px;
  height: 55px;
  padding-left: 2rem;
  background: #f6f6f8;
  width: 100%;
  border: 0;
  margin-bottom: 2rem;
  font-family: "Poppins regular";
}

.sign-up-span-link {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  color: #ab7ab6 !important;
  font-weight: bold !important;
}

.sign-up-footer {
  text-align: center;
  margin-top: 3rem;
}

#sign-up-btn {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.checkbox-forgot-pass {
  margin-top: 3rem;
}

#checkbox {
  height: 20px;
  width: 20px;
  margin-right: 10px;
  transform: rotate(0) translate(0);
  transition: transform 0.5s, border-color 0.5s, width 0.5s;
  border: 1px solid #ab7ab6;
}

#checked2 {
  height: 30px;
  width: 15px;
  margin-right: 40px;
  transform: rotate(45deg) translate(10px, -22px);
  transition: transform 0.5s, border-color 0.5s, width 0.5s;
  border: 1px solid #ab7ab6;
  border-top-color: transparent;
  border-left-color: transparent;
}

#check-wrapper {
  display: flex;
  justify-content: space-between;
}
#check-wrapper2 {
  display: flex;
  justify-content: space-between;
}

#login-icon-wrapper {
  display: flex;
  justify-content: space-evenly;
  column-gap: 20px;
  margin: 3rem 0rem 3rem 0rem;
}

.icons-holder {
  padding: 1.5rem;
  flex: 1;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #000000;
  border-radius: 999px;
}

.auth-icons {
  width: 25px;
  object-fit: contain;
}

#recover-password-main > .desktop-sub-header2 {
  margin-bottom: 2rem;
  text-align: center;
}

#recover-pass-login {
  text-align: right;
}
#pin-container.forgot-password {
  margin-block: 2rem;
  column-gap: 5px;
  justify-content: space-between;
  width: 100%;
}

@media screen and (max-width: 768px) {
  #login-left-column,
  #signup-left-column,
  #forgot-psd-left-column {
    padding: 2rem;
  }
  #login-left-column img,
  #signup-left-column img,
  #forgot-psd-left-column img {
    width: 75%;
  }
  #login-right-col,
  #sign-up-right-col,
  #forget-psd-right-col {
    padding-inline: 1rem;
  }
  #forget-psd-right-col {
    margin-top: 8rem;
    display: block;
    height: auto;
  }
  #login-icon-wrapper {
    column-gap: 13px;
  }
  .icons-holder {
    padding: 1rem;
  }
  .auth-icons {
    width: 20px;
  }
}
@media screen and (max-width: 576px) {
  #login-left-column img,
  #signup-left-column img,
  #forgot-psd-left-column img {
    width: 85%;
  }

  #pin-container.forgot-password {
    max-width: 100%;
  }
}
